[submodule "vendor/modules/imgui"]
	path = vendor/modules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/modules/nativefiledialog"]
	path = vendor/modules/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
